.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* position: absolute;
  top: 60px; */
  /* min-height: 800px;
  background-color: rgba(64, 147, 224, 0.7); */
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  height: 500px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  align-self: center;
  position: absolute;
  top: 60px;
}

.par {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: justify;
  width: 420px;
  line-height: 1.5;
}

.icon {
  height: 45px;
  width: 45px;
}

.icons {
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
}

.sep {
  margin-top: 20px;
}

.sep_foot {
  display: flex;
  position: relative;
  bottom: 30px;
  align-self: center;
  margin-bottom: 100px;
  margin-left: 20px;
}

.openw {
  position: relative;
  top: 15px;
  margin-left: 10px;
  height: 40px;
  width: 80px;
}

.icon_foot {
  height: 45px;
  width: 45px;
  margin-right: 20px;
  margin-top: 15px;
  align-self: center;
}

@media screen and (max-width: 800px) {
  .box {
    width: 80%;
    height: 80%;
  }

  .par {
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
  .box {
    width: 80%;
    height: 100%;
  }

  .par {
    width: 90%;
    height: 60%;
    margin-top: 20px;
  }

  .sep_foot {
    left: 180px;
    bottom: 60px;
  }
}
