.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 60px;
  /* min-height: 800px; */
  /* background: rgba(64, 147, 224, 0.7); */
}
